
<a routerLink="">
    <mat-card id="cardTransition" class="break-words w-full text-justify">
        <mat-card-header id="headerCard">
          <mat-card-title>Filete de pollo en salsa</mat-card-title>
          <mat-card-subtitle>Carne</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/images/plato.jpg" style="width: 78%; border-radius: 20px; margin: auto; margin-top: 3%;" alt="Photo of a Shiba Inu">
        <mat-card-content id="contentCard" class="mt-4">
            <h3>
              <span style="font-weight: bold;">Tiempo de preparación:</span> 10 min
            </h3>
          </mat-card-content>
          <!-- <button style="width: 10%; margin-left: auto; margin-top: 10px;" mat-raised-button>...</button> -->
          
      </mat-card>
      <br>
</a>