.sectionCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 5rem;
}

.createP1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 3rem;
}

.createP2 {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
}

.sectionExplore {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 5rem;
}

.exploreP1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.exploreP2 {
  display: flex;
  flex-direction: column;
  width: 43%;
  gap: 3rem;
}

.container {
    width: fit-content;
}

.text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    animation: 
      typing 2s,
      cursor .65s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
/*
  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
    } to {
      opacity: 1;
      translate: 0 0;
    }
  }*/

  

  /*  */
/* Aplica los cambios para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .sectionCreate, .sectionExplore {
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
    align-items: center; /* Alinea los elementos al centro */
    padding: 2rem; /* Reduce el padding */
  }

  .createP1, .createP2, .exploreP1, .exploreP2 {
    width: 100%; /* Ocupa el 100% del ancho para que los elementos se apilen verticalmente */
    text-align: center; /* Centra los textos */
    align-items: center;
    gap: 1rem;
    padding: 15px 10px;
  }

  img {
    width: 70%; /* Ajusta el tamaño de las imágenes */
  }

  h1, h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de las fuentes */
  }
}

/* Para pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  .sectionCreate, .sectionExplore {
    flex-direction: column; /* Asegura que el diseño siga siendo una columna */
    align-items: center;
    padding: 1rem; /* Reduce aún más el padding */
  }

  .createP1, .createP2, .exploreP1, .exploreP2 {
    width: 100%;
    text-align: center;
  }

  img {
    width: 80%; /* Ajusta el tamaño de las imágenes en pantallas más pequeñas */
  }

  h1, h2 {
    font-size: 1.2rem; /* Reduce más el tamaño de las fuentes */
  }
}