<section class="" style="margin-top: 0%;">
      <div class="sectionCreate">
        <div class="createP1">
          <h1 class="text-4xl font-sans">
            {{ 'WELCOME_PAGE.INTRO_TITLE1' | translate}}
          </h1>
            <div class="container" >
              <h2 class="text-3xl font-sans text">{{ 'WELCOME_PAGE.ELABORATE' | translate}}</h2>
            </div>
            <p class="break-words">
              {{ 'WELCOME_PAGE.INTRO_MESSAGE' | translate}}
            </p>
        </div>
        <div class="createP2 ">
          <img class="w-max" style="border-radius: 30%; width: 80%" src="../../../../assets/images/chef.jpg" alt="" />
        </div>
      </div>
</section>

<mat-divider _ngcontent-ng-c1799311822="" role="separator" class="mat-divider mat-divider-horizontal" style="width: 90%;margin: auto; height: 10px;background: bisque;" aria-orientation="horizontal"></mat-divider>
<section>
    <div class="sectionExplore">
      <div class="exploreP1">
        <img
        class="w-max"
        style="border-radius: 30%; width: 80%"
        src="../../../../assets/images/plato.jpg"
        alt=""
      />
      </div>
      <div class="exploreP2">
        <h1 class="text-4xl font-sans">
          {{ 'WELCOME_PAGE.INTRO_TITLE2' | translate}}
        </h1>
          <div class="container">
            <h2 class="text-3xl font-sans text">{{ 'WELCOME_PAGE.DISCOVER' | translate}}</h2>
          </div>
          <p class="break-words">
            {{ 'WELCOME_PAGE.INTRO_MESSAGE2' | translate}}
          </p>
      </div>
    </div>
</section>
  <!-- <mat-divider _ngcontent-ng-c1799311822="" role="separator" class="mat-divider mat-divider-horizontal" style="width: 95%;margin: auto;/* color: black; *//* border-style: dotted; */height: 10px;background: bisque; margin-top: 1rem;" aria-orientation="horizontal"></mat-divider> -->


