

<section>
    <h1 class="text-6xl font-sans text-center mt-8 p-2">
      Disfruta de las mejores recetas elaboradas por Isa
    </h1>
    <h2 class="text-2xl font-sans text-center ">
      <span style="background: linear-gradient(1deg,#e3244e,#cae956); background-clip: text; -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;">Recipe Book</span>
    </h2>
    <div class="tarjetasWelcome">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
</section>
 <section class="" style="margin-top: 0%;">
      <div class="sectionCreate">
        <div class="createP1">
          <h1 class="text-5xl font-sans">
            Guarda tus recetas favoritas
          </h1>
            <div class="container" >
              <h2 class="text-3xl font-sans text">Elabora</h2>
            </div>
            <p class="break-words">
              No dejes que ninguna receta quede fuera del menú. Registra todo lo que
              elaboras para que el resto del mundo pueda probar tus habilidades
              culinarias.
            </p>
            <a href="/recipe-book/new-recipe" id="botonWelcome">Comienza</a>
        </div>
        <div class="createP2 ">
          <img class="w-max" style="border-radius: 30%; width: 80%" src="../../../../assets/images/chef.jpg" alt="" />
        </div>
      </div>
  </section>

@if (section3Visible) {
  <mat-divider _ngcontent-ng-c1799311822="" role="separator" class="mat-divider mat-divider-horizontal" style="width: 95%;margin: auto;/* color: black; *//* border-style: dotted; */height: 10px;background: bisque;" aria-orientation="horizontal"></mat-divider>
  <section>
      <div class="sectionExplore">
        <div class="exploreP1">
          <img
          class="w-max"
          style="border-radius: 30%; width: 80%"
          src="../../../../assets/images/plato.jpg"
          alt=""
        />
        </div>
        <div class="exploreP2">
          <h1 class="text-5xl font-sans">
            Encuentra nuevas recetas y añádelas a tu menú personal
          </h1>
            <div class="container">
              <h2 class="text-3xl font-sans text">Descubre</h2>
            </div>
            <p class="break-words">
              Prueba nuestro sistema de búsqueda de recetas donde puedes encuentrar
              gran diversidad de platos e incluso la oportunidad de chatear con
              nuestra IA personal
            </p>
            <a href="/recipe-book/new-recipe" id="botonWelcome">Explora</a
            >
        </div>
      </div>
  </section>
  <mat-divider _ngcontent-ng-c1799311822="" role="separator" class="mat-divider mat-divider-horizontal" style="width: 95%;margin: auto;/* color: black; *//* border-style: dotted; */height: 10px;background: bisque; margin-top: 1rem;" aria-orientation="horizontal"></mat-divider>
}

