<header >

  
  <nav class="flex justify-between items-center px-10 py-3 w-11.5/12 rounded m-2.5" >
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a href="/recipe-book/welcome">
      <img src="../../../assets/images/cooking.png">
    </a>
    <ul class="list-none">
      <li>
        <a class="aTag" routerLink="/recipe-book/my-recipes">Tus recetas</a>
      </li>
      <li>
        <a class="aTag" mat-raised-button routerLink="/recipe-book/new-recipe">Crea tus propias recetas</a>
      </li>
      <li>
        <a class="aTag" id="globalRecipes" mat-raised-button routerLink="/recipe-book/global-recipes">&nbsp;&nbsp; Consulta otras recetas</a>
      </li>
    </ul>
    <a class="aTag" href="">Log in</a>
  </nav>
  

</header>
