@if($loading()) {
  <mat-spinner class="mx-auto my-4" color="warn"></mat-spinner>
} @else{
  <h1 class="text-4xl font-sans text-center mt-2 p-5">{{ $recipe()?.title }}</h1>
  <section>
      <div class="infoRecipe">
          <img class="w-max" style="border-radius: 30%; width: 35%;" src="../../../../assets/images/chef.jpg" alt="" />
          <table mat-table style="width: 45%; min-width: 1%;" [dataSource]="dataSource" class="mat-elevation-z8">
  
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{ 'RECIPE.INGREDIENTS' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          <div class="content">
              @for (item of $recipe()!.instructions; track $index) {
                  <h4>{{ 'RECIPE.STEP' | translate}} {{$index}}</h4>
                  <p>{{item}}</p>
              }
          </div>
          
      </div>
  </section>
}
