@if($loading()) {
  <mat-spinner class="mx-auto my-4" color="warn"></mat-spinner>
} @else {
  <h1 class="text-4xl font-sans text-center mt-2 p-5">{{ $recipe()?.title }}</h1>
  <h3 class="text-sm font-sans text-center mb-2">Tiempo de preparación {{ $recipe()?.preparationTime }} min</h3>
  
  <section>
    <div class="infoRecipe">
      <div class="flex justify-center" style="text-align: -webkit-center">
        <!-- Contenedor de la imagen con efecto espejo -->
        <div class="mirror-container relative w-full md:w-2/3 lg:w-1/2 max-w-full h-auto rounded-full p-4">
          <!-- Imagen de la receta -->
          <img
            class="w-full max-h-[800px] min-h-[300px] object-center object-cover rounded-[30px] shadow-lg"
            [src]="$recipe()?.image"
            alt="Imagen de la receta"
          />
        </div>
      </div>

      <table mat-table style="width: 45%; min-width: 1%;" [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{ 'RECIPE.INGREDIENTS' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="content">
        @for (item of $recipe()!.instructions; track $index) {
          <h4>{{ 'RECIPE.STEP' | translate }} {{$index}}</h4>
          <p>{{ item }}</p>
        }
      </div>
    </div>
  </section>
}
