.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.cardForm {
    width: 90%; 
    background: hsl(0deg 100% 95.08% / 63.7%);
    color: rgb(36, 35, 35); 
    border-radius: 30px; 
    box-shadow: 0 8px 16px 0 rgb(199, 113, 113);
}

h2 {
    text-align: center;
    font-size: large;
    margin: 2%;
}

.container-forms {
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
}

label {
    margin-bottom: 1%;
}

.form-row {
    display: flex;
  }

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 7%;
}

.form-input {
    margin: 1% 7%;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}

.form-add {
    margin: 1% 7%;
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 5%;
}

.button-add {
    display: flex;
    gap: 1%;
    place-items: center;
}

.button-class {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

#tCocinado {
    text-align: center;
}

#select-form {
    width: 72%;
    align-content: center;
}

#form-ingredientes {
    width: auto;
}

#form-ingredientes label{
    width: 10%;
}

input, #select-form {
    color: #be6e6e;
    height: 3rem;
    border: 1px solid;
    border-radius: 12px;
    background: white;
    padding: 10px;
}

.generalButton {
    background: white;
    color: rgba(255, 64, 129, 0.87);
    border-radius: 15px;
    width: 6%;
    box-shadow: 0 0px 4px 0 rgb(199, 113, 113);
}

#buttonTable {
    color: rgb(255 0 87 / 87%);
    width: 4rem;
    border-radius: 12px;
    font-weight: 800;
}

.ingredientes-table {
    background: white;
    margin-top: 1%;
    height: 3rem;
    border-radius: 15px;
    text-align: center;
    color: #be6e6e;
}

.upload-box {
    font-size: 16px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    outline: none;
    width: 85%;
}

::-webkit-file-upload-button {
    color: white;
    background: #000000;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
}

::-webkit-file-upload-button:hover {
    background: #be6e6e;
}