<nav class="flex justify-around items-center px-10 py-3 w-[90%] rounded m-2.5" >
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i style="color: brown;" class="fas fa-bars"></i>
  </label>
  <a routerLink="/recipe-book/welcome">
    <img src="../../../assets/images/cooking.png">
  </a>
  <ul >
    <li>
      <a class="aTag" routerLink="/recipe-book/my-recipes">Tus recetas</a>
    </li>
    <li>
      <a class="aTag" routerLink="/recipe-book/new-recipe">Crea tus propias recetas</a>
    </li>
  </ul>
  <div class="flex">
    <button id="language-switch" (click)="switchLanguage()" class="focus:outline-none">
      <img [src]="currentLang === 'es' ? '../../../assets/images/sp_flag.png' : '../../../assets/images/eeuu_flag.png'" alt="Change Language">
    </button>  
    @if(!loggedIn) {
      <button class="text-gray-700 hover:text-gray-900 cursor-pointer" (click)="openLoginModal()">Log in</button>
    } @else {
      <div class="relative">
        <!-- Imagen de perfil, al hacer clic, se abre el dropdown -->
        <button (click)="toggleDropdown()" class="flex items-center">
          <img src="../../../assets/images/profile.png" alt="Profile Picture">
        </button>
  
        <!-- Dropdown, visible si dropdownOpen es true -->
        <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2">
          <a routerLink="/recipe-book/my-recipes" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            My Recipes
          </a>
          <a href="#" (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            Logout
          </a>
        </div>
      </div>
    }
    
  </div>
</nav>

<app-login-modal></app-login-modal> 