nav {
  background: #fdf2f4; /* Color de fondo del navbar */
  border-radius: 20px; /* Bordes redondeados */
  border: 2px solid #e3d0d4; /* Borde acorde al fondo, color suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

li {
    display: inline-block;
    padding: 10px 10px;
}

img:hover {
    animation: swing; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

button {
    margin-right: 15px;
}

button:hover {
    box-shadow: 2px white;
    transition: 1s;
    border-bottom: 4px;
}

#globalRecipes {
    border-left: 1px solid black;
}



/*                   */

  nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .aTag.active,.aTag:hover{
    background-color: #e4d5bb; 
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }

    #globalRecipes {
        border-left: none;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fdf2f4;
        color: black;
        top: 125px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        border-radius: 0.25rem; 
        padding-left: 2.5rem;
        padding-right: 2.5rem; 
        z-index: 1;

    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }